<ng-container
  *tuiLet="{
    breakpoint: _breakpoint$ | async,
    language: language$ | async,
    step: step$ | async
  } as ctx"
>
  <form class="h-100" [formGroup]="form" (submit)="sendData$.next(true)">
    <div
      id="map"
      class="h-100"
      leaflet
      [leafletOptions]="mapOptions"
      (leafletMapReady)="onMapReady($event)"
    >
      <div
        class="container position-relative d-flex flex-column justify-content-between map-game__content h-100"
      >
        <div class="mt-4">
          <div class="map-game__info mb-2">
            <!-- <div class="d-flex flex-column"> -->
            <tui-chip class="mb-1 map-game__chip" size="xs" appearance="outline"
              ><span
                >{{
                  [ctx.language, content.MAP_GAME_CONFIG_SCORE]
                    | func : getContentByLanguage
                }}
                {{ score$ | async }}</span
              ></tui-chip
            >

            <tui-chip class="map-game__chip" appearance="outline" size="xs">
              <ng-container *ngIf="ctx.step === 'opponent'; else userChipTempl">
                <span
                  >{{
                    [ctx.language, content.MAP_GAME_CONFIG_OPPONENT_MOVE]
                      | func : getContentByLanguage
                  }}
                </span>
              </ng-container>
              <ng-template #userChipTempl
                ><span>{{
                  [ctx.language, content.MAP_GAME_CONFIG_USER_MOVE]
                    | func : getContentByLanguage
                }}</span></ng-template
              >
              <strong
                ><em class="text-uppercase">{{
                  city$
                    | async
                    | func : deleteCharacters
                    | func : getCityLastLetter
                }}</em></strong
              ></tui-chip
            >

            <tui-chip class="map-game__chip" appearance="outline" size="xs"
              ><span>{{
                [ctx.language, content.MAP_GAME_CONFIG_TIMER]
                  | func : getContentByLanguage
              }}</span
              ><app-map-timer (onSuccess)="showDialogEndTimer()" />
            </tui-chip>

            <ng-container *ngIf="ctx.breakpoint === 'mobile'">
              <button
                class="map-game__timer small mb-1"
                size="xs"
                tuiChip
                type="button"
                (click)="openDrawer.set(true)"
              >
                <span
                  >{{
                    [ctx.language, content.MAP_GAME_CONFIG_USED_CITY]
                      | func : getContentByLanguage
                  }}
                  <tui-icon icon="@tui.info" [style.font-size.rem]="1" />
                </span>
              </button>
            </ng-container>
          </div>
          <tui-textfield
            class="border"
            [tuiTextfieldSize]="ctx.breakpoint | func : resizeElements"
          >
            <input
              #inputCity
              [placeholder]="
                [ctx.language, content.MAP_GAME_CONFIG_ENTER_CITY]
                  | func : getContentByLanguage
              "
              tuiTextfield
              [readOnly]="ctx.step === 'opponent'"
              formControlName="city"
              (click)="stopPropogation($event)"
            />

            <ng-container *ngIf="ctx.step === 'opponent'">
              <tui-loader size="s" />
            </ng-container>

            <tui-icon icon="@tui.search" (click)="sendData$.next(true)" />
          </tui-textfield>
        </div>
        <div class="d-flex justify-content-center">
          <button
            class="map-game__timer small mb-4 mb-md-2"
            size="xs"
            tuiChip
            type="button"
            (click)="setGameOver()"
          >
            <span
              >{{
                [ctx.language, content.MAP_GAME_CONFIG_END_THE_GAME]
                  | func : getContentByLanguage
              }}
              <tui-icon
                icon="@tui.screen-share-off"
                [style.font-size.rem]="1"
              />
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-container *ngIf="ctx.breakpoint === 'mobile'">
    <tui-drawer
      class="drawer"
      *tuiPopup="openDrawer()"
      direction="left"
      [overlay]="true"
      (click.self)="openDrawer.set(false)"
    >
      <app-used-cities-list
        class="col-12"
        (onClose)="openDrawer.set(false)"
      ></app-used-cities-list>
    </tui-drawer>
  </ng-container>
</ng-container>
