<ng-container
  *tuiLet="{
    language: language$ | async,
  } as ctx"
>
  <div class="container">
    <div class="row rounded-5 border">
      <div
        class="d-flex flex-column align-items-center justify-content-center min-vh-100 rounded-5 border"
      >
        <div class="row w-100">
          <h1 class="h4 text-center mt-3">
            {{
              [ctx.language, content.START_PAGE_CONFIG_TITLE]
                | func : getContentByLanguage
            }}
          </h1>
        </div>

        <div class="row w-100">
          <div class="grid-wrap banner-wrapper__content w-100">
            <div>
              <h2 class="h5">
                {{
                  [ctx.language, content.START_PAGE_CONFIG_SUBTITLE_1]
                    | func : getContentByLanguage
                }}:
              </h2>
            </div>
            <div>
              <p>
                {{
                  [ctx.language, content.START_PAGE_CONFIG_TEXT_1]
                    | func : getContentByLanguage
                }}
              </p>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <div class="grid-wrap banner-wrapper__content w-100">
            <div>
              <h2 class="h5">
                {{
                  [ctx.language, content.START_PAGE_CONFIG_SUBTITLE_2]
                    | func : getContentByLanguage
                }}:
              </h2>
            </div>
            <div>
              <p
                [innerHTML]="
                  [ctx.language, content.START_PAGE_CONFIG_TEXT_2]
                    | func : getContentByLanguage
                "
              ></p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="ctx.language === 'rus'">
          <div class="row w-100">
            <div class="grid-wrap banner-wrapper__content w-100">
              <div>
                <h2 class="h5">
                  {{
                    [ctx.language, content.START_PAGE_CONFIG_SUBTITLE_3]
                      | func : getContentByLanguage
                  }}:
                </h2>
              </div>
              <div>
                <p>
                  {{
                    [ctx.language, content.START_PAGE_CONFIG_TEXT_3]
                      | func : getContentByLanguage
                  }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row w-100">
          <div class="grid-wrap banner-wrapper__content w-100">
            <div>
              <h2 class="h5">
                {{
                  [ctx.language, content.START_PAGE_CONFIG_SUBTITLE_4]
                    | func : getContentByLanguage
                }}:
              </h2>
            </div>
            <div>
              <p>
                {{
                  [ctx.language, content.START_PAGE_CONFIG_TEXT_4]
                    | func : getContentByLanguage
                }}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <button
            class="center"
            tuiButton
            class="mb-1"
            type="button"
            [routerLink]="['/start']"
          >
            {{
              [ctx.language, content.START_PAGE_CONFIG_BTN_MENU]
                | func : getContentByLanguage
            }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
