<div>
  <div class="container">
    <div class="row rounded-5 border vh-100">
      <app-map-game
        class="col-12 col-md-8 p-0 rounded-5 overflow-hidden h-100"
      ></app-map-game>
      <ng-container *tuiLet="_breakpoint$ | async as breakpoint">
        <ng-container *ngIf="breakpoint !== 'mobile'">
          <app-used-cities-list
            class="col-12 col-md-4 overflow-hidden p-3 h-100"
          ></app-used-cities-list>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
