<ng-container
  *tuiLet="{
      breakpoint: _breakpoint$ | async,
      language: language$ | async,
    } as ctx"
>
  <form [formGroup]="form" (submit)="sendData$.next(true)">
    <p>
      {{
        [ctx.language, content.SCORE_FORM_CONFIG_SCORE]
          | func : getContentByLanguage
      }}
      {{ data }}
    </p>

    <tui-textfield
      class="border"
      [tuiTextfieldSize]="ctx.breakpoint | func : resizeElements"
    >
      <input
        tuiTextfield
        formControlName="user"
        [placeholder]="
          [ctx.language, content.SCORE_FORM_CONFIG_INPUT_PLACEHOLDER]
            | func : getContentByLanguage
        "
        [invalid]="userFormCtrl.invalid"
      />
    </tui-textfield>
    <tui-error formControlName="user" [error]="[] | tuiFieldError | async" />

    <button
      class="mt-3"
      size="m"
      tuiButton
      type="submit"
      [disabled]="userFormCtrl.invalid"
      (click)="sendData$.next(true)"
    >
      {{
        [ctx.language, content.SCORE_FORM_CONFIG_BTN_TEXT]
          | func : getContentByLanguage
      }}
    </button>
  </form>
</ng-container>
